apiVersion: v1
kind: Secret
metadata:
  name: my-secret
data:
  user: YWRtaW4=
  pass: TXktcGFzcy0xMjM=
stringData:
  my-database-name: mysql
---
kind: Pod
apiVersion: v1
metadata:
  name: pod-secret-vol-env
spec:
  containers:
  - name: my-container
    image: nginx
    envFrom:
    - secretRef:
        name: my-secret
    volumeMounts:
    - name: my-vol
      mountPath: "/etc/my-vol"
      readOnly: true
  volumes:
  - name: my-vol
    secret:
      secretName: my-secret

# Esse código YAML contém a definição de um Secret e um Pod no Kubernetes

# O recurso Secret chamado my-secret contém dados sensíveis.
# 
# No campo data, as chaves user e pass estão armazenadas com valores 
# codificados em base64 (YWRtaW4= é "admin" e TXktcGFzcy0xMjM= 
# é "My-pass-123").
# 
# O campo stringData permite definir a chave my-database-name em texto 
# simples (mysql), que será automaticamente codificada para base64 no
# momento da criação do Secret.

# O recurso Pod chamado pod-secret-vol-env possui um container com imagem nginx que consome esse Secret de duas maneiras:
# 
# envFrom.secretRef.name: my-secret injeta todas as chaves e valores do
# Secret como variáveis de ambiente no container.
# 
# O volume my-vol é montado no caminho /etc/my-vol dentro do container,
# usando o Secret my-secret como fonte, permitindo o acesso aos dados do
# Secret também via arquivos.